body {
  text-align: center;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tables {
  display: none;
}

#query-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border: 1px solid grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  text-align: center;
  padding: 1% 15%;
}

.jumbotron {
  margin-bottom: 0;
}

.footer-icon {
  margin: 10px;
}

.copyright {
  margin-top: 10px;
  color: #8f8f8f;
}